/*長寬高*/

/*導覽列元素空間與排列*/
        /*數據區塊*/
.all-tinyLeftNav       {width: 10%; min-width: 9rem !important;}
.all-tinyLeftNav-with2 {width: 10%; min-width: 14rem !important;}
.all-showDataBox       {width: 90%;}
.all-bigclass          {width: 80%;}

/*display*/
.all-tinyLeftNav-with2 {display: flex;}

/*排列方式*/
.all-tinyLeftNav-with2 {justify-content: space-between;}



/*長寬高*/
.all-leftnav           {width: 13rem !important;}
.all-leftnav-in        {width: 13rem !important;}